.project
*.prefs
.classpath
.springBeans
.settings
target/
tmp
.idea/
*.iml
*.ipr
*.iws
project/
.gradle/
out
.metadata
Servers
classes/
atlassian-ide-plugin.xml
.sonar/
sonar-project.*
*~
rebel.xml
buildSrc/
db-migration/
contiperf-report/
bin/
build/
*/src/generated/
export.sql
node_modules
**/test/coverage/
.DS_Store
npm-debug.log
product-interfaces/src/uitest/node_modules

